extends layout

block content
  h1 Palindrome Checker
  form(method="POST" action="/")
    label(for="userText") Enter Your Text Here:
    br
    input(type="text" id="userText" name="userText" value=`${phrase}`)
    br
    br
    button(type="submit") Submit
  if message
    p=message
  h2 Palindrome Examples
  h3 Racecar is a Palindrome
  h3 Factory is not a Palindrome
  h3 Refer is a Palindrome
  h3 Chocolate is not a Palindrome