extends layout

block content
  h1 Palindrome Checker
  form(method="POST" action="/")
    label(for="userText") Enter Your Text Here:
    br
    input(type="text" id="userText" name="userText" value=`${phrase}`)
    br
    br
    button(type="submit") Submit
  if message
    p=message
  form(method="POST" action="/")
    label(for="userText2") Enter Your Text Here:
    br
    input(type="text" id="userText2" name="userText2" value=`${phrase2}`)
    br
    br
    button(type="submit") Submit
  if message2
    p=message2